%p{:id=>"notice"}= notice

%select{:id=>"route"}
  - Route.all.each do |route|
    %option= route.name

%h1= @route.name

%table
  %tbody
    %tr
      - @route.stop.names.split(",").each do |stop|
        %th= stop.html_safe
    - @route.runs.each do |run|
      %tr
        - run.times.split(",").each do |s|
          %td= s
