%p{:id=>"notice"}= notice

%div{:id=>'breadcrumb'}
  %a{:class=>'breadcrumb', :href=>'/routes'}
    %h2{:class=>'breadcrumb'}
      Routes
  %h2{:class=>'breadcrumb'}
    >
  %h2{:class=>'breadcrumb'}= @route.name.html_safe


%table
  %thead
    %tr
      - @route.stop.names.split(",").each do |stop|
        %th{:class=>'stops'}= stop.html_safe
  %tbody
    - @route.runs.each do |run|
      %tr{:class=>cycle('even', 'odd')}
        - run.times.split(",").each do |s|
          %td= s

%h3= @route.note.html_safe
